.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* css list product */
body {
  background: #121f3d;

}

.header {
  display: flex;
  position: relative;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.store {
  position: absolute;
  right: 0;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-radius: 0.5rem;
}

.product_list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
}

.product_item {
  margin: 12px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.app-store {
  color: rgb(7, 34, 110);
  ;
  font-weight: bold;
  padding: 5px;
}

td {
  padding: 20px 40px;
  font-size: 20px;
}

.title_store {
  margin: 50px 0;
}

.bnt_slg {
  border: 0px solid #fff !important;
  padding: 0px 8px;
  margin: 2px;

}

table {
  width: 100%;
  background-color: #fff;
  margin-top: 50px;
}

.img {
  width: 100%;
}

.name_list {
  color: #fff !important;
}

.title {
  color: #fff !important;
  font-weight: bold;
  text-overflow: ellipsis;
  margin: 10px 0;
}

.price {
  margin: 10px 0;
  color: rgb(175, 170, 170);
}

thead {
  font-weight: bold;
  background-color: #dee2e6;
}

.total_cart {
  color:  rgb(7, 34, 110);
  font-weight: bold;
  margin-left: 20px;
}

tbody {
  color: #3a3a3a;
}

.cart_img {
  padding: 10px;
}

.amount {
  position: absolute;
  top: 0px;
  right: -5px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 50%;
  text-align: center;
  background-color: rgb(238, 174, 211);

}

/* admin-----------------*/
.admin {
  position: absolute;
  right: 100px;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-radius: 0.5rem;
}

.title_add {
  font-weight: bold;
  margin-top: 20px;
}

.add_new {
  color: #fff;
  position: absolute;
  right: 0;
  font-weight: bold;
  background-color: rgb(238, 174, 211);
  padding: 8px 25px;
  border-radius: 1rem 1rem;
}

.admin_img {
  width: 50%;
  height: 100%;
}

.form_add {
  background-color: #fff;
  padding: 20px 40px;
  margin-top: 50px;
}

.form-label {
  font-weight: 500;
  margin-left: 15px
}

input[type="text"] {
  width: 100%;
  padding: 10px;
}

.btn {
  margin-left: 15px
}

.input_file {
  padding: 0px 15px
}

.myfileupload-buttonbar input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0.0;
  filter: alpha(opacity=0);
  direction: ltr;
  cursor: pointer;

}

.myui-button {
  margin: 0 15px;
  position: relative;
  cursor: pointer;
  text-align: center;
  overflow: visible;
  overflow: hidden;
  background-color: #0d6efd;
  padding: 10px;
  color: #fff;
  border-radius: 0.2rem;
}
.show_name {
  margin: 15px;
}
/* cart */
.payment {
  background-color: #fff;
  padding: 25px;
  margin-top: 20px;
  position: relative;
}
.pay {
  position: absolute;
  right: 20px;
  top: 13px;
}
.text {
  padding: 10px;
  background-color: rgb(7, 34, 110) ;
  color: #fff;
  font-weight: bold;
  border-radius: 0.2rem;
}
h5 {
  margin: 0;
}
/* pay ment */
.order {
  color:#fff ;
}

.info {
  display: flex;
  margin: 50px 0;
}
.info_container{
  width: 50%;
  font-weight: bold;
  
}
.info_user {
  padding: 20px;
}
.info_order {
  /* border: 2px solid #e25f08; */
  padding: 20px
}
.form_user{
  margin-top: 50px;
}
.user {
  margin-top:  20px;
}
.table_order {
  font-weight: 500;
}
.form_user .col-md-12 {
  padding: 0px  !important
}
.user .btn-primary {
  width: 100% ;
  margin: 0;
  font-weight: bold;
}
